In [3]:
#Q1. Create one variable containing following type of data:

#(i) string
my_string = "pwskills"
print(my_string)
print(type(my_string))

#(ii) list
my_list = [1,2,3,'surya',True,(1,2,3)]
print(my_list)
print(type(my_list))

#(iii) float
my_float = 3.14
print(my_float)
print(type(my_float))

#(iv) tuple
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

pwskills
<class 'str'>
[1, 2, 3, 'surya', True, (1, 2, 3)]
<class 'list'>
3.14
<class 'float'>
(1, 2, 3)
<class 'tuple'>

In [ ]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""

In [4]:
var1 = ''
type(var1)

str

In [5]:
var2 = '[DS,ML,Python]'
type(var2)

str

In [6]:
var3 = ['DS','ML','Python']
type(var3)

list

In [7]:
var4 = 1.
type(var4)

float

In [ ]:
""" Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** """

In [9]:
a = 10
b = 3

In [10]:
#this is for divison
a/b

3.3333333333333335

In [11]:
#this is for remainder
a%b

1

In [12]:
#this is for floor divison and it gives floor value
a//b

3

In [13]:
#this is for power of a to b
a**b

1000

In [ ]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

In [16]:
list1 = [1,2,3,'surya',True,False,(1,2,3),[1,2,3],2.0,{1,2,3},10]
list1

[1, 2, 3, 'surya', True, False, (1, 2, 3), [1, 2, 3], 2.0, {1, 2, 3}, 10]

In [17]:
for i in list1:
    print(i,"is a",type(i))

1 is a <class 'int'>
2 is a <class 'int'>
3 is a <class 'int'>
surya is a <class 'str'>
True is a <class 'bool'>
False is a <class 'bool'>
(1, 2, 3) is a <class 'tuple'>
[1, 2, 3] is a <class 'list'>
2.0 is a <class 'float'>
{1, 2, 3} is a <class 'set'>
10 is a <class 'int'>

In [ ]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

In [ ]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

In [18]:
list2 = list(range(25))
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [19]:
len(list2)

25

In [20]:
for i in list2:
    if i%3 == 0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

0  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3

In [ ]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

A mutable object can be changed after it is created	
Examples : List, Set, Dictionary	

An immutable object cannot be changed after it is created
Exg: tuples, int, float, bool, frozenset,string(str)